---
import FormattedDate from '../FormattedDate.astro';

import { Image } from 'astro:assets';

const { post } = Astro.props;
---
<div class="group relative bg-white rounded-lg hover:shadow-md">
    <div class="w-full overflow-hidden rounded-t-md bg-gray-200 group-hover:mix-blend-multiply">
        <Image src={post.data.heroImage} class="h-full w-full object-cover object-center lg:h-full lg:w-full" alt="" />
    </div>
    <div class="p-2">
        <h3 class="text-sm text-gray-700 font-bold">
            <a href={`/portfolio/${post.slug}/`}>
                <span aria-hidden="true" class="absolute inset-0"></span>
                {post.data.title}
            </a>
        </h3>
        <p class="mt-1 text-sm text-gray-500">
            <FormattedDate date={post.data.pubDate} />
        </p>
    </div>
</div>
