---
import { type CollectionEntry, getCollection } from 'astro:content';
import { Image } from 'astro:assets';

import BaseLayout from "@layouts/Base.astro";
import PostTags from '@components/PostTags.astro';
import FormattedDate from '@components/FormattedDate.astro';

import authorImage from '@assets/images/me.jpg';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<'blog'>;
const post = Astro.props;
const { Content } = await post.render();

---


<BaseLayout>
    <main>
        <article class="px-4 py-24 mx-auto max-w-7xl" itemid="#" itemscope itemtype="http://schema.org/BlogPosting">
            <div class="w-full mx-auto mb-12 text-left md:w-3/4 lg:w-1/2">
                <Image src={post.data.heroImage} class="object-cover w-full h-64 bg-center rounded-lg" alt="Blog content preview" />

                <h1 class="mb-3 text-3xl text-center underline decoration-4 font-bold leading-tight text-gray-900 md:text-4xl" itemprop="headline" title={post.data.title}>
                    {post.data.title}
                </h1>

                <span class="text-sm text-gray-500">
                    Posted: <FormattedDate date={post.data.pubDate} />
                </span>
            </div>

            <div class="w-full mx-auto md:w-3/4 lg:w-1/2
                    prose
                    prose-h1:font-bold prose-h1:text-xl
                    prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl
                    prose-headings:underline">
                <Content />
            </div>
        </article>

    </main>
</BaseLayout>
