@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');

body {
    font-size: 1rem;
}

code, pre {
    font-family: "Cascadia Code", "JetBrains Mono", "Fira Code", "Courier New", monospace !important;
    font-weight: normal;
    font-variant-ligatures: common-ligatures; /* Optional: enables ligatures if your font supports them */
    font-size: 0.9em; /* Optional: code often looks larger than body text */
}

.content {
  min-width: 0rem;
  max-width: 100%;
  padding-left:  2rem;
  padding-right: 2rem;
  margin-left: 0rem;
  margin-right: 0rem;
  display: flex;
  flex-direction: column;
  flex-flow: column;
}

.post {
  max-width: 50rem; /* fine tune for the content width you want */
  min-width: 0rem;
}

.entries {
  max-width: 50rem; /* fine tune for the content width you want */
  min-width: 0rem;
}

/* Add external fontawesome icon to any external link */
a[href^="http"]:not([href*="zakariyaoulhadj.com"]):not([href*="localhost"]):not(.social)::after {
    content: "\f08e";
    font-family: "fontawesome";  /* See note below about this name */
    font-weight: 900;
    font-size: 0.5em;
    vertical-align: top;
    margin-left: 2px;
    display: inline-block;
    opacity: 0.8;
}

.sidebar-about h1 {
  font-size: 1.2em;
  font-family: "fira sans", monospace;
  font-weight: bold;
}

.sidebar-about .lead {
    font-size: .75em;
}
