---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import BaseSimple from "@layouts/BaseSimple.astro";
---

<BaseSimple>
    <div>
        <h1 class="text-2xl text-white">This is my CV</h1>
    </div>
</BaseSimple>
