---
import BaseSimple from "@layouts/BaseSimple.astro";
---

<BaseSimple>
    <div class="text-dark dark:text-white">
        <h1 class="text-4xl font-bold mb-5">
            Hire
        </h1>
        <p class="text-xl font-bold">
            Below are a list of different services that I provide:
        </p>
        <ol class="" style="list-style-type: square;">
            <li>
                Tutoring in software development and IT.
            </li>
            <li>
                Website/Software development
            </li>
        </ol>
    </div>
</BaseSimple>
