---
import { getCollection } from 'astro:content';

import BaseSimple from "../layouts/BaseSimple.astro";

// Get all posts from latest to oldest
const all_posts = (await getCollection('blog')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const posts = all_posts.filter((post) => { return !post.data.draft; });
const latest_post = posts[0];
---

<BaseSimple>
  <div class="flex flex-col h-screen">
    { latest_post &&
      <div class="text-center px-5 py-2 bg-[#3a3a3a] text-white w-screen" style="font-family: 'Silkscreen', sans-serif;">
        Lastest blog post: <a href={`/blog/posts/${latest_post.slug}/`} class="hover:text-amber-100 hover:underline">{latest_post.data.title}</a>
      </div>
}

    <div class="text-center px-5 bg-[#F2EFE4] text-stone-700 w-screen border-y border-[#D4CBB6]">
      <div class="flex justify-center items-center gap-2">
        <a href="/portfolio" class="px-3 py-2 hover:underline">
          Portfolio
        </a>
        <a href="/blog" class="px-3 py-2 hover:underline">
          Blog
        </a>
        <a href="/gallery" class="px-3 py-2 hover:underline">
          Gallery
        </a>
        <a href="/contact" class="px-3 py-2 hover:underline">
          Contact
        </a>
      </div>
    </div>
    <div class="flex-grow flex justify-center items-center bg-gradient-to-b from-[#EDE6D5] to-[#F5F5ED]">
      <div class="">
        <h1 class="text-center text-[#3f3b3b] text-7xl" style="font-family: 'Paytone One';">
          Zakariya Oulhadj
        </h1>
      </div>
    </div>
  </div>
</BaseSimple>
