---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Link from "@components/Link.astro";

import BaseSimple from "@layouts/BaseSimple.astro";

---

<BaseSimple>
    <article>
        <div class="dark:text-white text-black w-4/6 mb-10">
            <h1 class="bold text-4xl mb-4" style="font-family: 'Alegreya', serif;">
                A shared compilation stack for distributed-memory parallelism in stencil DSLs
            </h1>
            <div class="text-sm">
                <h4 class="mb-2">
                    Published by <Link href="/">Zakariya Oulhadj</Link> on 28th May 2024
                </h4>
                <div class="flex gap-2">
                    <Link href="#">Software</Link>&bull;
                    <Link href="#">Performance</Link>&bull;
                    <Link href="#">Research</Link>
                </div>
            </div>
        </div>
        <p class="dark:text-white text-black">
            This is some example text
        </p>
    </article>
</BaseSimple>
