---
import Link from "@components/Link.astro";
---

<div class="text-center px-5 bg-[#F2EFE4] text-stone-700 w-screen border-y border-[#D4CBB6]">
    <div class="flex justify-center items-center gap-2">
        <Link href="/about">
            About
        </Link>
        <Link href="/portfolio">
            Portfolio
        </Link>
        <Link href="/blog">
            Blog
        </Link>
        <Link href="/gallery">
            Gallery
        </Link>
    </div>
</div>
