---
import Link from "@components/Link.astro";

import cv_pdf from "@assets/files/CV.pdf";

const { pathname } = Astro.url;
const isHomePage = pathname === '/';
---

<div class="flex gap-2 items-center py-3 mb-5">
    <div class="text-dark dark:text-gray-400">
        <Link href="/hire" class="px-2">Hire me</Link>
        |
        <Link href={cv_pdf} class="px-2" target="_blank">CV</Link>
        |
        <Link href="/portfolio" class="px-2">Portfolio</Link>
    </div>
    {!isHomePage &&
    <div class="ml-auto">
        <Link href="/">Back home</Link>
    </div>
    }

</div>
