---
import Link from "@components/Link.astro";

import pgp_key from "/pgp_key.txt";

const { pathname } = Astro.url;
const isHomePage = pathname === '/';


const pages = [
    {
        name: "Hire me",
        url: "/hire",
    },
    {
        name: "Portfolio",
        url: "/portfolio",
    },
    {
        name: "PGP Key",
        url: pgp_key,
    },
]


---

<div class="flex py-3 mb-5">
    <div class="flex flex-row gap-5">
        {
            pages.map((page) => (
            <Link href={page.url}>
                {page.name}
            </Link>
            ))
        }
    </div>
    {!isHomePage &&
    <div class="ml-auto">
        <Link href="/">Back home</Link>
    </div>
    }

</div>
