---
import Link from "@components/Link.astro";
---

<div class="flex gap-2 items-center justify-center py-3 mb-5 text-white dark:text-gray-400 ">
    <div class="">
        <Link href="/hire" class="px-2">Hire me</Link>
        |
        <Link href="/cv" class="px-2">CV</Link>
    </div>
    <div class="ml-auto">
        <Link href="/">Back home</Link>
    </div>
</div>
