---
import Link from "@components/Link.astro";

import cv_pdf from "@assets/files/CV.pdf";

const { pathname } = Astro.url;
const isHomePage = pathname === '/';


const pages = [
    {
        name: "Portfolio",
        url: "/portfolio",
        external: false
    },
    {
        name: "CV",
        url: cv_pdf,
        external: true
    },
    {
        name: "My dotfiles",
        url: "https://github.com/zoulhadj/dotfiles",
        external: true
    },
    {
        name: "Hire me",
        url: "/hire",
        external: false
    },

]


---

<div class="flex py-3 mb-5">
    <div class="flex flex-row gap-5">
        {
            pages.map((page) => (
            <Link href={page.url}>
                {page.name}
            </Link>
            ))
        }
    </div>
    {!isHomePage &&
    <div class="ml-auto">
        <Link href="/">Back home</Link>
    </div>
    }

</div>
