---
import BaseLayout from "../../../layouts/Base.astro";

import { type CollectionEntry, getCollection } from 'astro:content';

export async function getStaticPaths() {
  const all_posts = await getCollection('blog');
  return [
    {params: {tag: "programming"}, props: {posts: all_posts}},
    {params: {tag: "emacs"}, props: {posts: all_posts}},
    {params: {tag: "hardware"}, props: {posts: all_posts}},
    {params: {tag: "life"}, props: {posts: all_posts}},
    {params: {tag: "education"}, props: {posts: all_posts}},
  ]
}

//type Props = CollectionEntry<'blog'>;

//const { tag } = Astro.params;
//const posts  = Astro.props;
  
//const filteredPosts = posts.filter((post) => post.data.tags?.includes(tag));
---


  <BaseLayout>
    
    <!-- <h1>Posts with the tag -->
    <!--   <span class="text-gray-900 bg-gray-100 badge rounded-full hover:bg-gray-200 px-2"> -->
    <!--     {tag.charAt(0).toUpperCase() + tag.slice(1)} -->
    <!--   </span> -->
    <!-- </h1> -->
    
    <!-- <ul> -->
    <!--   { -->
    <!--   filteredPosts.map((post) => ( -->
    <!--   <li><a href={`/blog/posts/${post.slug}/`}>{post.data.title}</a></li> -->
    <!--   )) -->
    <!--   } -->
    <!-- </ul>     -->
  </BaseLayout>
